#box1{
    width: 100px;
    height: 100px;
    background-color: green;
    transition: width 2s ease-in 0.5s;
}

#box1:hover{
    width: 600px;
    opacity: 50%;
}

#box2 {
    width: 100px;
    height: 100px;
    background: red;
    transform: rotate(180deg);
    transform:translate(-200px,-200px);
}

#box3{
    width: 100px;
    height: 100px;
    background: lightblue;
    transform: skewX(50deg);
}

#box4{
    width: 100px;
    height: 100px;
    background: lightgreen;
    box-shadow: 2px 2px 5px green;
}

#myPic{
    width: 1200px;
    height: 600px;
    background: pink;
    background-image:url(photo.jpg);
    background-size:cover;
    opacity: 50%;

}
